# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
**.tfvars
**.tfstate
**.tfstate.*
**/.terraform/

# Docker / binaries
*.exe
*.zip
*.tar


# Logs
*.log

# Binaries
*.exe
*.out

# SSH keys
*.pem
*.ppk

# OS / editor junk
.DS_Store
.vscode/
